$base-font-color: #444444;

$base-black: #000000;
$base-dark-grey: #111111;
$special-dark-grey: #222222;
$spacial-grey: #666666;
$special-light-grey: #d3d3d3;
$special-form-light-grey: #cdcdcd;
$base-grey-bg: #eaeaea;
$base-grey: #f2f2f2;
$base-white: #ffffff;

$base-green: #68b738;
