.comparison-slider {
  width: fit-content;

  picture {
    display: flex;
  }
}
// .comparison-slider__image {
// }
// .comparison-slider__image--before {
// }
.comparison-slider__image--after {
  position: absolute;
  left: 0;
  top: 0;
}

.comparison-slider__toggle-button {
  position: absolute;
  left: 0;
  top: 0;
}
