.example {
  background-color: $special-bg-color-light;

  @media #{$tablet-only} {
    background-image: linear-gradient(to bottom, $base-bg-color-white 574px, $special-bg-color-light 574px);
  }

  @media #{$desktop-only} {
    background-image: linear-gradient(to bottom, $base-bg-color-white 136px, $special-bg-color-light 136px);
  }
}

.example__content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 20px 40px;

  @media #{$tablet-only} {
    padding: 0 30px;
  }

  @media #{$desktop-only} {
    position: relative;

    padding: 0 30px;
  }
}

.example__title {
  margin: 0 0 40px;

  font-family: $special-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $base-font-color-black;

  @media #{$not-mobile} {
    font-size: 60px;
    line-height: 60px;
  }

  @media #{$tablet-only} {
    margin-bottom: 60px;
  }

  @media #{$desktop-only} {
    margin-bottom: 76px;
  }
}

.example__content-wrap {
  @media #{$tablet-only} {
    padding-bottom: 101px;
  }

  @media #{$desktop-only} {
    max-width: 440px;
    padding: 70px 0 75px;
  }
}

.example__description {
  margin-bottom: 20px;

  @media #{$tablet-only} {
    max-width: 900px;
    margin: 0 auto 55px;
  }

  @media #{$desktop-only} {
    margin: 0 0 69px;
  }
}


.example__result-list {
  margin-top: 0;
  margin-bottom: 20px;

  @media #{$tablet-only} {
    margin: 0 auto 104px;
  }

  @media #{$desktop-only} {
    margin: 0;
  }
}

.example__comparison-slider {
  position: relative;

  margin: 0 auto;

  @media #{$desktop-only} {
    position: absolute;
    top: 0;
    left: 690px;
  }
}
