.example {
  background-color: $base-grey-bg;
}

.example__title {
  font-family: $special-font;
  color: $base-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
// .example__content-wrap {
// }
// .example__description {
// }
// .example__result-list {
// }
// .example__comparison-slider {
// }
