.food-options {
  padding: 20px;
  max-width: 1280px;

  @media #{$tablet-only} {
    padding: 0 30px 45px;
  }

  @media #{$desktop-only} {
    padding: 82px 30px 71px;
  }
}

.food-options__list {
  @include normilize-list;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media #{$tablet-only} {
    gap: 30px;
  }

  @media #{$desktop-only} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.food-options__item {
  background-color: $base-bg-color;
  position: relative;
  padding-top: 30px;
  width: 100%;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: $special-bg-color;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 20px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.food-options__item--slim::after {
    background-image: url("../../images/icons/stack.svg#cat-slim");
    width: 36px;
    height: 50px;
    top: 21px;
    left: 27px;
  }

  &.food-options__item--pro::after {
    background-image: url("../../images/icons/stack.svg#cat-pro");
    width: 67px;
    height: 28px;
    top: 35px;
    left: 12px;
  }
}

.food-options__title {
  font-family: $special-font;
  color: $base-font-color-black;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-left: 90px;
}

// .food-options__description {
// }

.food-options__link {
  font-family: $special-font;
  color: $base-font-color-black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;

  &::after {
    content: "";
    background-image: url("../../images/icons/stack.svg#arrow");
    width: 32px;
    height: 12px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: left -10px center;
  }
}
