.footer-main {
  background-color: $base-bg-color;
}

.footer-main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px;

  @media #{$not-mobile} {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 55px 30px;
  }

  @media #{$desktop-only} {
    padding: 66px 30px;
  }
}

.footer-main__logo {
  display: inline-flex;
  justify-content: center;
  padding: 20px 0;

  border-bottom: 1px solid $special-border;

  &:hover {
    .footer-main__logo-text {
      fill: $state-hover;
    }
  }

  &:focus-visible {
    outline: 2px solid $special-bg-color;
    outline-offset: 2px;
    opacity: 0.8;
  }

  &:active {
    .footer-main__logo-text {
      fill: $state-active;
    }
  }

  &.footer-main__logo--current {
    pointer-events: none;
  }

  @media #{$mobile-only} {
    width: 100%;
  }

  @media #{$not-mobile} {
    justify-self: start;
    padding: 0;

    border-bottom: none;
  }
}

.footer-main__logo-text {
  fill: $base-color;
}

.footer-main__social {
  margin: 0 auto;
}

.footer-main__academy {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;

  font-size: 16px;
  line-height: 20px;
  color: inherit;

  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

  use {
    fill: $base-font-color;

    transition: fill 0.2s ease-in-out;
  }

  &:hover {
    color: $state-color;

    use {
      fill: $state-color;
    }
  }

  &:focus-visible {
    outline: 2px solid $special-bg-color;
    outline-offset: 2px;
  }

  &:active {
    color: $base-font-color;

    opacity: 0.3;

    use {
      fill: $state-color;
    }
  }

  @media #{$not-mobile} {
    justify-self: end;
    width: 163px;
    padding: 0;
  }
}
