.form-programm {
  @media #{$tablet-only} {
    padding: 0 40px;
  }
}

.form-programm__description {
  color: $base-font-color-black;
  text-transform: uppercase;
  font-family: $special-font;
}

// .form-programm__form {
// }

.form-programm__wrap {
  @media #{$desktop-only} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.form-programm__group {
  border: none;
  padding: 0;
}

.form-programm__group-title {
  font-family: $special-font;
  color: $base-font-color-black;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form-programm__cat-list {
  @include normilize-list;
  margin: 0;
}

// .form-programm__cat-item {
// }

.form-programm__label {
  font-family: $special-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;

  // &::after {

  // }

  &.form-programm__label--email,
  &.form-programm__label--phone {
    .form-programm__input {
      padding-right: 40px;
    }
  }

  &.form-programm__label--email::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $base-form-color;
    mask-image: url("../../images/icons/stack.svg#email");
    right: 13.5px;
  }

  &.form-programm__label--phone::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $base-form-color;
    mask-image: url("../../images/icons/stack.svg#phone");
    right: 14.5px;
  }
}

.form-programm__input {
  color: inherit;
  font-family: $special-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &.form-programm__input--radio + .form-programm__label-text::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $base-form-color-light;
    border-radius: 50%;
    margin-right: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
  }

  &.form-programm__input--radio:checked + .form-programm__label-text::before {
    background-image: radial-gradient($special-form-color 6.5px, $base-form-color-white 6.5px);
  }

  &.form-programm__input--checkbox + .form-programm__label-text::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $base-form-color-light;
    margin-right: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
  }

  &.form-programm__input--checkbox:checked + .form-programm__label-text::before {
    background-image: url("../../images/icons/stack.svg#checked");
  }
}

.form-programm__target-list {
  @include normilize-list;
  margin: 0;
}

// .form-programm__target-item {
// }

.form-programm__label-text {
  display: inline-flex;
  align-items: center;
}

// .form-programm__group-legend {
// }

.form-programm__owner-list {
  @include normilize-list;
  margin: 0;
}

// .form-programm__owner-item {
// }

.form-programm__additionally-list {
  @include normilize-list;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 12px 20px;

  @media #{$tablet-only} {
    grid-template-columns: repeat(auto-fill, minmax(297px, 1fr));
    gap: 32px 30px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 32px 55px;
  }
}

// .form-programm__additionally-item {
// }

// .form-programm__footer {
// }

// .form-programm__button {
// }

.form-programm__footnote {
  line-height: 16px;
  color: $base-font-color-black;
  text-align: center;
  display: block;
}
