.form-programm {
  @media #{$tablet-only} {
    padding: 0 40px;
  }
}

.form-programm__description {
  max-width: 90%;
  margin: 0 0 39px;
  padding: 0 20px;

  font-family: $special-font;
  color: $base-font-color-black;
  text-transform: uppercase;

  @media #{$not-mobile} {
    margin-bottom: 66px;
    padding: 0;

    font-size: 20px;
    line-height: 30px;
  }

  @media #{$tablet-only} {
    max-width: 60%;
  }

  @media #{$desktop-only} {
    max-width: 30%;
  }
}

.form-programm__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 24px;
  align-items: center;
  margin-bottom: 26px;

  @media #{$not-mobile} {
    padding: 0;
  }

  @media #{$tablet-only} {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 72px 30px;
    margin-bottom: 65px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 70px;
  }
}

.form-programm__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form-programm__group-title {
  display: grid;
  width: fit-content;
  margin: 0 0 34px;
  padding: 0 20px;

  font-family: $special-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $base-font-color-black;

  background-color: $base-bg-color-white;

  @media #{$not-mobile} {
    display: inline-block;
    margin-bottom: 57px;
    margin-left: -40px;
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;
  }
}

.form-programm__cat-list {
  @include normilize-list;

  display: grid;
  gap: 14px;
  margin: 0;

  @media #{$not-mobile} {
    gap: 20px;
  }
}

.form-programm__cat-item {
  padding: 0 20px;

  .form-programm__label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 13px;
    align-items: center;
  }

  @media #{$not-mobile} {
    padding: 0;
  }
}

.form-programm__label {
  position: relative;

  display: flex;

  font-family: $special-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &.form-programm__label--email,
  &.form-programm__label--phone {
    .form-programm__input {
      padding-right: 40px;
    }
  }

  &.form-programm__label--email::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 13.5px;

    display: block;
    width: 20px;
    height: 20px;

    background-color: $base-form-color;
    mask-image: url("../../images/icons/stack.svg#email");
    transform: translateY(-50%);

    transition: background-color 0.2s ease-in-out;
  }

  &.form-programm__label--phone::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14.5px;

    display: block;
    width: 20px;
    height: 20px;

    background-color: $base-form-color;
    mask-image: url("../../images/icons/stack.svg#phone");
    transform: translateY(-50%);

    transition: background-color 0.2s ease-in-out;
  }

  &:hover {
    .form-programm__label-text::before {
      border-color: $state-special-border;
    }
  }

  &:focus-within {
    &::after {
      background-color: $special-form-color;
    }

    .form-programm__label-text {
      outline: 2px solid $state-border-focus;
      outline-offset: 2px;
    }
  }

  &.form-programm__label--error {
    &::after {
      background-color: $state-error;
    }

    .form-programm__input {
      outline: 2px solid $state-error;
      outline-offset: -2px;
    }
  }

  &.form-programm__label--disable {
    color: $base-form-border;

    cursor: not-allowed;

    &::after {
      background-color: $base-form-border;
    }

    .form-programm__input {
      color: $base-form-border;

      outline: 2px solid $base-form-border;
      outline-offset: -2px;

      pointer-events: none;
    }
  }

  @media #{$not-mobile} {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-programm__input {
  width: 100%;
  min-height: 45px;
  padding: 0 15px;

  font-family: $special-font;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;

  border: 1px solid $base-form-border;

  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: $state-border-hover;
  }

  &:focus {
    outline: 2px solid $state-border-focus;
    outline-offset: -2px;
  }

  &:active {
    outline: 2px solid $state-border-focus;
    outline-offset: -2px;
  }

  &:disabled {
    color: $base-form-border;

    background-color: inherit;
    outline: 2px solid $base-form-border;
    outline-offset: -2px;
    cursor: not-allowed;

    pointer-events: none;

    & + .form-programm__label-text {
      opacity: 0.3;
    }
  }

  &.form-programm__input--radio + .form-programm__label-text::before {
    content: "";

    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border: 1px solid $base-form-color-light;
    border-radius: 50%;

    transition: border-color 0.2s ease-in-out;
  }

  &.form-programm__input--radio:checked + .form-programm__label-text::before {
    background-image: radial-gradient($special-form-color 6.5px, $base-form-color-white 6.5px);
  }

  &.form-programm__input--checkbox + .form-programm__label-text::before {
    content: "";

    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    border: 1px solid $base-form-color-light;

    transition: border-color 0.2s ease-in-out;
  }

  &.form-programm__input--checkbox:checked + .form-programm__label-text::before {
    background-image: url("../../images/icons/stack.svg#checked");
  }

  &.form-programm__input--comment {
    display: block;
    width: calc(100% - 40px);
    min-height: 150px;
    margin: 4px auto 23px;
    padding: 14px;
  }

  @media #{$not-mobile} {
    min-height: 52px;
    padding: 0 20px;

    font-size: 20px;
    line-height: 30px;

    &.form-programm__input--radio + .form-programm__label-text::before {
      width: 40px;
      height: 40px;
      margin-right: 20px;

      background-size: 18px 18px;
    }

    &.form-programm__input--radio:checked + .form-programm__label-text::before {
      background-image: radial-gradient($special-form-color 8.5px, $base-form-color-white 9px);
    }

    &.form-programm__input--checkbox + .form-programm__label-text::before {
      width: 40px;
      height: 40px;
      margin-right: 20px;

      background-size: 34px 34px;
    }

    &.form-programm__input--comment {
      min-height: 175px;
    }
  }

  @media #{$tablet-only} {
    &.form-programm__input--comment {
      width: 100%;
      margin: 30px auto 65px;
      padding: 11px 20px;
    }
  }

  @media #{$desktop-only} {
    &.form-programm__input--comment {
      width: 100%;
      margin: 20px auto 70px;
      padding: 9px 20px;
    }
  }
}

.form-programm__target-list {
  @include normilize-list;

  display: grid;
  gap: 13px;
  margin: 0;
  padding: 22px 20px 17px;

  border-top: 1px solid $special-border;
  border-bottom: 1px solid $special-border;

  @media #{$not-mobile} {
    border: 1px solid $base-form-border;
  }

  @media #{$tablet-only} {
    padding: 23px 27px 27px;
  }

  @media #{$desktop-only} {
    padding: 25px 28px;
  }
}

.form-programm__label-text {
  display: inline-flex;
  align-items: center;
}

.form-programm__group-legend {
  position: relative;

  width: 100%;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;

    display: block;
    width: 100vw;
    height: 2px;

    background-color: $special-bg-color;
    transform: translateX(-50%);
  }

  @media #{$not-mobile} {
    &::before {
      top: 22px;
    }
  }
}

.form-programm__owner-list {
  @include normilize-list;

  display: grid;
  gap: 14px;
  margin: 1px 0 24px;

  @media #{$not-mobile} {
    gap: 20px;
    margin: 19px 0 65px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 70px;
  }
}

.form-programm__owner-item {
  padding: 0 20px;

  .form-programm__label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 13px;
    align-items: center;
  }

  @media #{$not-mobile} {
    padding: 0;
  }
}

.form-programm__additionally-list {
  @include normilize-list;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 13px 20px;
  margin: 0;
  padding: 0 20px;

  @media #{$tablet-only} {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 32px 60px;
    padding: 0;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 80px;
    padding: 0;
  }
}

.form-programm__footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 21px 20px;
  align-items: center;
  margin: 34px 0 14px;
  padding: 0 20px;

  @media #{$tablet-only} {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 51px 0 60px;
    padding: 0;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin: 60px 0 79px;
    padding: 0;
  }
}

.form-programm__footnote {
  display: block;

  line-height: 16px;
  color: $base-font-color-black;
  text-align: center;

  @media #{$not-mobile} {
    text-align: left;
  }
}
