// .form-programm {
// }

.form-programm__description {
  color: $base-black;
  text-transform: uppercase;
  font-family: $special-font;
}

// .form-programm__form {
// }

// .form-programm__group {
// }

.form-programm__group-title {
  font-family: $special-font;
  color: $base-black;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form-programm__cat-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .form-programm__cat-item {
// }

.form-programm__label {
  font-family: $special-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-programm__input {
  color: inherit;
  font-family: $special-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-programm__target-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .form-programm__target-item {
// }

// .form-programm__label-text {
// }

// .form-programm__group-legend {
// }

.form-programm__owner-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .form-programm__owner-item {
// }

.form-programm__additionally-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .form-programm__additionally-item {
// }

// .form-programm__footer {
// }

// .form-programm__button {
// }

.form-programm__footnote {
  line-height: 16px;
  color: $base-black;
  text-align: center;
  display: block;
}
