.how-it-works {
  padding: 0 20px 49px;
  max-width: 1280px;

  @media #{$tablet-only} {
    padding: 0 30px 45px;
  }

  @media #{$desktop-only} {
    padding: 0 30px 69px;
  }
}

.how-it-works__title {
  font-family: $special-font;
  color: $base-font-color-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.how-it-works__list {
  @include normilize-list;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media #{$not-mobile} {
    display: grid;
  }

  @media #{$tablet-only} {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 137px;
    padding-bottom: 47px;
    border-bottom: 1px solid $special-menu-grey;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 77px;
    border-bottom: none;
  }
}

.how-it-works__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $special-bg-color;
    display: block;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }

  &.how-it-works__item--healthy::before {
    background-image: url("../../images/icons/stack.svg#healthy");
    background-size: 30px 32px;
  }

  &.how-it-works__item--easy::before {
    background-image: url("../../images/icons/stack.svg#easy");
    background-size: 26px 30px;
  }

  &.how-it-works__item--change::before {
    background-image: url("../../images/icons/stack.svg#change");
    background-size: 25px 30px;
  }

  &.how-it-works__item--time::before {
    background-image: url("../../images/icons/stack.svg#time");
    background-size: 28px 32px;
  }
}
