// .how-it-works {
// }

.how-it-works__title {
  font-family: $special-font;
  color: $base-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .how-it-works__item {
//   &.how-it-works__item--healthy {
//   }
//   &.how-it-works__item--easy {
//   }
//   &.how-it-works__item--change {
//   }
//   &.how-it-works__item--time {
//   }
// }
