.map {
  background-color: $base-bg-color;

  &.map--index {
    background-color: $base-bg-color-white;
  }
  // min-height: 474px;

  // @media #{$tablet-only} {
  //   min-height: 600px;
  // }

  // @media #{$desktop-only} {
  //   min-height: 400px;
  // }
}

.map__contact-wrap {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  height: 100%;

  @media #{$tablet-only} {
    padding: 0 70px;
  }

  @media #{$desktop-only} {
    padding: 0 30px;
    // min-height: 400px;
  }
}

.map__contact {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: calc(50% - 10px) 50%;
  gap: 10px;
  align-items: center;

  @media #{$tablet-only} {
    padding: 60px 0;
    grid-template-columns: 30% 30%;
    gap: 40%;
  }

  @media #{$desktop-only} {
    position: absolute;
    top: 95px;
    left: 30px;
    width: 565px;
    padding: 60px 71px 60px 79px;
    grid-template-columns: repeat(2, 1fr);
    gap: 86px;
    z-index: 2;
    background-color: $base-bg-color-white;
  }
}

.map__invite {
  font-family: $special-font;
  color: $special-font-color-darker;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media #{$not-mobile} {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__address {
  font-style: normal;
  line-height: 20px;
  display: flex;
  flex-direction: column-reverse;

  @media #{$tablet-only} {
    text-align: right;
  }
}

// .map__address-city {
// }

.map__address-street {
  @media #{$tablet-only} {
    margin-bottom: 20px;
  }

  @media #{$desktop-only} {
    margin-bottom: 19px;
  }
}

.map__mapframe {
  display: block;
  border: none;
  width: 100%;
  height: 362px;
  background-image: url("../../images/map-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$retina} {
    background-image: url("../../images/map-mobile@2x.png");
  }

  @media #{$not-mobile} {
    height: 400px;
  }

  @media #{$tablet-only} {
    background-image: url("../../images/map-tablet@1x.png");

    @media #{$retina} {
      background-image: url("../../images/map-tablet@2x.png");
    }
  }

  @media #{$desktop-only} {
    background-image: url("../../images/map-desktop@1x.png");

    @media #{$retina} {
      background-image: url("../../images/map-desktop@2x.png");
    }
  }
}
