.menu-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;

  &.menu-btn--active {
    .menu-btn__line1 {
      transform: translate(3px, 9px) rotate(45deg);
      transform-origin: 12px 3px;
    }

    .menu-btn__line2 {
      transform: translate(3px, 1px) rotate(-45deg);
      transform-origin: 12px 11px;
    }

    .menu-btn__line3 {
      transform: translate(3px, -7px) rotate(-45deg);
      transform-origin: 12px 19px;
    }
  }
}
// .menu-btn__icon {
// }
.menu-btn__line1 {
  transition: transform 0.8s ease-in-out, transform-origin 0.8s ease-in-out;
}

.menu-btn__line2 {
  transition: transform 0.8s ease-in-out, transform-origin 0.8s ease-in-out;
}

.menu-btn__line3 {
  transition: transform 0.8s ease-in-out, transform-origin 0.8s ease-in-out;
}
