.navigation {
  display: flex;
  justify-content: end;
  min-width: 33px;

  &.navigation::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background-color: $base-bg-color-white;

    @media #{$mobile-only} {
      content: "";
    }
  }

  @media #{$mobile-only} {
    &.navigation--nojs {
      min-width: 100%;
    }

    &.navigation--nojs::before {
      content: none;
    }

    &.navigation--nojs .navigation__toggle-button {
      display: none;
    }

    &.navigation--nojs .navigation__list {
      position: static;
      z-index: 0;

      display: flex;

      transform: none;
    }
  }

  @media #{$not-mobile} {
    flex-grow: 1;
  }

  @media #{$desktop-only} {
    max-width: 50%;
    margin-left: auto;

    &.navigation--inner .navigation__link {
      color: $base-font-color-black;

      &:focus-visible {
        outline: 2px solid $special-bg-color;
        outline-offset: 2px;
        opacity: 0.6;
      }
    }

    &.navigation--inner .navigation__link--current::before {
      background-color: $special-bg-color;
    }
  }
}


.navigation__list {
  @include normilize-list;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -2;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;

  transform: translateY(-100%);

  transition: transform 0.3s ease-in-out;

  &.navigation__list--open {
    transform: translateY(0);
  }

  @media #{$not-mobile} {
    position: static;
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;

    transform: none;
  }
}

.navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66px;


  @media #{$mobile-only} {
    width: 100%;
    padding: 0 20px;

    background-color: $base-bg-color-white;
    border-top: 1px solid $special-menu-grey;

    &:last-child {
      border-bottom: 1px solid $special-menu-grey;
    }
  }

  @media #{$tablet-only} {
    min-height: 50px;

    &:not(:first-child) {
      margin-left: 33px;
    }
  }

  @media #{$desktop-only} {
    min-height: 59px;
    padding-top: 3px;
    padding-right: 1px;

    &:not(:first-child) {
      margin-left: 33px;
    }
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 66px;

  font-family: $special-font;
  font-size: 20px;
  line-height: 20px;
  color: $base-font-color-black;

  text-transform: uppercase;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $special-bg-color;
    outline-offset: 2px;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &.navigation__link--current {
    position: relative;

    display: inline-flex;
    width: initial;

    pointer-events: none;

    @media #{$mobile-only} {
      color: $green;
    }
  }

  &.navigation__link--current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;

    display: block;
    width: 100%;
    height: 2px;

    @media #{$tablet-only} {
      bottom: 4px;

      background-color: $special-bg-color;
    }

    @media #{$desktop-only} {
      bottom: 2px;

      background-color: $base-bg-color-white;
    }
  }

  @media #{$not-mobile} {
    height: 50px;
  }

  @media #{$tablet-only} {
    font-size: 18px;
    line-height: 24px;
  }

  @media #{$desktop-only} {
    font-size: 20px;
    line-height: 30px;
    color: $base-font-color-white;

    &:focus-visible {
      outline: 2px solid $base-bg-color-white;
      outline-offset: 2px;
      opacity: 0.6;
    }
  }
}
