.page {
  min-height: 100vh;
}

.page__body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: clip;

  font-family: $primiry-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-font-color;

  @media #{$not-mobile} {
    font-size: 16px;
    line-height: 24px;
  }
}
