.parameter-list {
  @include normilize-list;
}

// .parameter-list__wrap {
// }

.parameter-list__parameter {
  font-size: 12px;
  line-height: 16px;
}

.parameter-list__value {
  font-size: 12px;
  line-height: 16px;
}

// .product__button {
// }
