.result-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px 32px;
  align-items: center;
  justify-items: center;

  @media #{$tablet-only} {
    grid-template-columns: repeat(2, 162px) 1fr;
    gap: 30px 43px;
    max-width: 900px;
  }

  @media #{$desktop-only} {
    gap: 60px 42px;
    max-width: 366px;
  }
}

.result-list__wrap {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 56px;
  padding: 0 18px;

  border: 1px solid $special-border-grey;
  border-radius: 3px;

  @media #{$not-mobile} {
    min-height: 72px;
  }
}

.result-list__wrap--cost {
  flex-direction: row;
  grid-column: 1 / -1;
  justify-content: space-between;
  width: 188px;
  height: fit-content;
  min-height: 0;
  padding: 0;

  border: none;

  .result-list__parameter,
  .result-list__value {
    font-family: $special-font;
    font-size: 14px;
    line-height: 20px;
    color: $base-font-color-black;
    text-transform: uppercase;
  }

  .result-list__parameter {
    position: static;

    width: fit-content;
    padding: 0;
  }

  .result-list__value {
    margin: 0;
  }

  @media #{$not-mobile} {
    min-height: fit-content;

    .result-list__parameter,
    .result-list__value {
      font-size: 20px;
    }
  }

  @media #{$tablet-only} {
    flex-direction: column;
    grid-column: 3 / 4;
    justify-self: end;

    .result-list__parameter,
    .result-list__value {
      margin-left: auto;
    }

    .result-list__parameter {
      margin-bottom: 9px;
    }
  }

  @media #{$desktop-only} {
    justify-self: start;
    justify-content: space-between;
    width: 327px;
    min-width: fit-content;
  }
}

.result-list__parameter {
  position: absolute;
  bottom: -14px;

  width: 87px;
  padding: 0 4px;

  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;

  background-color: $special-bg-color-light;

  @media #{$not-mobile} {
    bottom: -6px;

    width: fit-content;
    padding: 0 9px;

    font-size: 14px;
    line-height: 14px;

    background-color: $base-bg-color-white;
  }

  @media #{$desktop-only} {
    background-color: $special-bg-color-light;
  }
}

.result-list__value {
  margin: 0 0 4px;

  font-family: $special-font;
  font-size: 24px;
  line-height: 24px;
  color: $base-font-color-black;
  text-transform: uppercase;

  @media #{$not-mobile} {
    font-size: 30px;
    line-height: 37px;
  }
}
